
{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/competition_registration.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}



<body style="font-family: 'Rubik', sans-serif; background-color: grey; /* Darker background color */ margin: 0; padding: 0;">
 
    <section class="section parallax-container breadcrumbs-wrap" data-parallax-img="{% static 'img/players_backdrop.png' %}">
    <div class="material-parallax parallax">
        
        <img src="{% static 'img/players_backdrop.png' %}" alt="" style="transform: translate3d(-50%, 82px, 0px); display: block;">
    </div>
    <div class="parallax-content breadcrumbs-custom context-dark">
        <div class="container">
            <h3 class="breadcrumbs-custom-title">Competition Registration</h3>
            <ul class="breadcrumbs-custom-path">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Competition Registration</li>
            </ul>
        </div>
    </div>
</section>


<div class="container mt-5">
    <div id="competition-form-wrap">
        <h2 class="text-center">Competition Form</h2>
        <form method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            
            <div class="form-group-custom">
                <label for="{{ form.year.id_for_label }}">Season Year:</label>
                {{ form.year }}
                {% if form.year.errors %}
                    <div class="text-danger small font-weight-bold mt-1">⚠️ {{ form.year.errors.0 }}</div>
                {% endif %}
            </div>

            <div class="form-group-custom">
                <label for="{{ form.name.id_for_label }}">Competition Name:</label>
                {{ form.name }}
                {% if form.name.errors %}
                    <div class="text-danger small font-weight-bold mt-1">⚠️ {{ form.name.errors.0 }}</div>
                {% endif %}
            </div>
            
            <div class="form-group-custom">
                <label for="{{ form.type.id_for_label }}">Competition Type:</label>
                {{ form.competition_type }}
                {% if form.competition_type.errors %}
                    <div class="text-danger small font-weight-bold mt-1">⚠️ {{ form.competition_type.errors.0 }}</div>
                {% endif %}
            </div>
            
            <div class="form-group-custom">
                <label for="{{ form.team.id_for_label }}">Team:</label>
                {{ form.team }}
                {% if form.team.errors %}
                    <div class="text-danger small font-weight-bold mt-1">⚠️ {{ form.team.errors.0 }}</div>
                {% endif %}
            </div>

            <div class="form-group-custom">
                <label for="{{ form.opponents.id_for_label }}">Opponents:</label>
                {{ form.opponents }}
                {% if form.opponents.errors %}
                    <div class="text-danger small font-weight-bold mt-1">⚠️ {{ form.opponents.errors.0 }}</div>
                {% endif %}
            </div>

            <div class="form-group-custom">
                <label for="{{ form.start_date.id_for_label }}">Starting Date:</label>
                {{ form.start_date }}
                {% if form.start_date.errors %}
                    <div class="text-danger small font-weight-bold mt-1">⚠️ {{ form.start_date.errors.0 }}</div>
                {% endif %}
            </div>

            <div class="form-group-custom">
                <label for="{{ form.end_date.id_for_label }}">Ending Date:</label>
                {{ form.end_date }}
                {% if form.end_date.errors %}
                    <div class="text-danger small font-weight-bold mt-1">⚠️ {{ form.end_date.errors.0 }}</div>
                {% endif %}
            </div>

            <div class="form-group-custom">
                <label for="{{ form.description.id_for_label }}">Description:</label>
                {{ form.description }}
                {% if form.description.errors %}
                    <div class="text-danger small font-weight-bold mt-1">⚠️ {{ form.description.errors.0 }}</div>
                {% endif %}
            </div>

            <div class="form-group-custom boolean-field">
                <label for="{{ form.is_current_competition.id_for_label }}">Current Competition:</label>
                {{ form.is_current_competition }}
                {% if form.is_current_competition.errors %}
                    <div class="text-danger small font-weight-bold mt-1">⚠️ {{ form.is_current_competition.errors.0 }}</div>
                {% endif %}
            </div>

            <div class="text-center mt-5">
                <button class="button button-lg button-primary button-block btn btn-success w-full" type="submit">Submit Competition Details</button>
            </div>
        </form>
    </div>
</div>


</body>
<br><br>

{% endblock %}
